<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header.css" />
</head>
<body>
    <header>
        <% if (position == "fixed") { %>
            <div class="header-bar-container header-bar-container-fixed">    
        <% } else { %>
            <div class="header-bar-container">
        <% } %>
            <div class="header-content">
                <div class="logo-container">
                    <img src="/assets/logo.png" alt="Logo Lys Flower" />
                    <h1>Lys Flower</h1>
                </div>
                <nav class="nav-container">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        
                        <% if(authType.logged) { %>
                        <li>
                            <a href="/member">Member space</a>
                        </li>
                        <% } %>

                        <% if(!authType.logged) { %>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <% } %>

                        <% if(authType.admin) { %>
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>