<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/Home.css" />
</head>
<body>
    <div class="home-arrival">
        <div class="title">
            <h1>LysFlower</h1>
            <h2>Where your dream take place</h2>
        </div>

        <div class="widget">
            <p class="widget-scroll-title">Scroll</p>
            <div class="widget-scroll">
                <div class="widget-scroll-ball"></div>
            </div>
        </div>
    </div>

    <div class="booking">
        <div class="info"></div>

        <div class="booking">
            <h2>Start living your dream here</h2>
            <form>
                <div class="attributes-form">
                    <div class="booking-form-component">
                        <input 
                            type="text"
                            class="input-booking"
                            placeholder="Departure airport"
                        />
                    </div>

                    <div class="booking-form-component">
                        <input 
                            type="text"
                            class="input-booking"
                            placeholder="Arrival airport"
                        />
                    </div>

                    <div class="booking-form-component">
                        <input 
                            type="date"
                            class="input-booking"
                            format="dd/mm/yyyy"
                        />
                    </div>
                </div>

                <button 
                    type="submit" 
                    class="booking-form-component button-booking-form button"
                >Search</button>
            </form>
        </div>

        <div class="tickets-container">
            
        </div>
    </div>
</body>
</html>