<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Partials/Head") %>
    <link rel="stylesheet" href="/css/Login.css" />
    <script defer src="/js/Login.js"></script>
</head>
<body>
    <%- include("Partials/header", { position: "sticky" }) %>
    <div class="modal">
        <div class="login-space">
            <form>
                <h2 id="title-choice">Login</h2>
                
                <label for="email-login" class="champ-form">
                    <img src="/assets/mail.png" alt="Email" />
                    <input id="email-login" placeholder="Email" type="text" />
                </label>
                
                <label for="password-login" class="champ-form">
                    <img src="/assets/key.png" alt="Password" />
                    <input placeholder="Password" type="password" id="password-login" />
                </label>
                
                <button type="submit">Submit</button>
                <p>No account ?</p>
            </form>
        </div>
    </div>
</body>
</html>