<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Partials/Head") %>
    <link rel="stylesheet" href="/css/Login.css" />
    <script defer src="/js/Login.js"></script>
</head>
<body>
    <%- include("Partials/header", { position: "sticky" }) %>
    <%- include("Partials/ModalAlert") %>
    <div class="modal">
        <div class="login-space">
            <form>
                <h2 id="title-choice">Login</h2>
                
                <label for="email-login" class="champ-form">
                    <img src="/assets/mail.png" alt="Email" />
                    <input id="email-login" placeholder="Email" type="text" />
                </label>
                
                <label for="password-login" class="champ-form">
                    <img src="/assets/key.png" alt="Password" />
                    <input placeholder="Password" type="password" id="password-login" />
                </label>
                
                <button type="submit">Submit</button>
                <p>No account ?</p>
            </form>
        </div>
    </div>

    <div class="welcome-modal-container">
        <div class="layout"></div>
        <div class="welcome-modal">
            <div class="welcome-content">
                <h2>Welcome abroad</h2>
                <p>To know you better and have a better experience with you, please, fill in the following questions</p>
                <button class="next-page-button">Continue</button>
            </div>
            
            <div class="info info-content">
                <form>
                    <label for="name-add" class="champ-form">
                        <img src="/assets/user-form.png" alt="Name" />
                        <input id="name-add" placeholder="Name" type="text" />
                    </label>

                    <label for="last-name-add" class="champ-form">
                        <img src="/assets/user-form.png" alt="Last name" />
                        <input id="last-name-add" placeholder="Last name" type="text" />
                    </label>

                    <label for="phone-add" class="champ-form">
                        <img src="/assets/phone.png" alt="Phone" />
                        <input id="phone-add" placeholder="Phone" type="text" />
                    </label>

                    <label for="birthday-add" class="champ-form">
                        <img src="/assets/birthday.png" alt="Birthday" />
                        <input id="birthday-add" type="date" />
                    </label>

                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>