<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Partials/Head") %>
    <link rel="stylesheet" href="/css/MemberSpace.css" />
</head>
<body>
    <%- include("Partials/header") %>
    <section class="profil">
        <div class="user-logo">
            <img src="/assets/user.png" alt="Profile" />
        </div>

        <div class="user-info">
            <h3>
                Nathan, 
                <span class="last-name">Viau</span>
            </h3>
            <p>12/03/2002</p>
            <p>nathan.viau@efrei.net</p>
            <p>+33 7 44 44 44 44</p>
        </div>
    </section>

    <section class="tickets-container">
        <div class="section-flight">
            <div class="title">
                <h3>Incoming flights</h3>
            </div>

            <div class="tickets-mode-container">
                <div class="ticket">
                    <div class="hour-trip">
                        <p class="date">7 décembre 2022</p>
                        <p class="hour">10:55 - 19:37</p>
                        
                        <div class="trip">
                            <img src="./trip.png" alt="trip" />
                            <div class="dest">
                                <p>Budapest (BUD)</p>
                                <p>Paris (CDG)</p>
                            </div>
                        </div>
                    </div>

                    <div class="info-flight-container">
                        <div class="available-seat">
                            <p>Available seat</p>
                            <p>125</p>
                        </div>

                        <div class="duration">
                            <p>Duration</p>
                            <p>2h45</p>
                        </div>

                        <div class="service-container">
                            <p>Service</p>
                            <div class="trip-service">
                                <img src="./plate.png" alt="Plate" />
                                <img src="./wifi.png" alt="Wifi" />
                            </div>
                        </div>
                    </div>

                    <button class="bought-trip">Buy : 100€</button>
                </div>

                <div class="ticket">
                    <div class="hour-trip">
                        <p class="date">7 décembre 2022</p>
                        <p class="hour">10:55 - 19:37</p>
                        
                        <div class="trip">
                            <img src="./trip.png" alt="trip" />
                            <div class="dest">
                                <p>Budapest (BUD)</p>
                                <p>Paris (CDG)</p>
                            </div>
                        </div>
                    </div>

                    <div class="info-flight-container">
                        <div class="available-seat">
                            <p>Available seat</p>
                            <p>125</p>
                        </div>

                        <div class="duration">
                            <p>Duration</p>
                            <p>2h45</p>
                        </div>

                        <div class="service-container">
                            <p>Service</p>
                            <div class="trip-service">
                                <img src="./plate.png" alt="Plate" />
                                <img src="./wifi.png" alt="Wifi" />
                            </div>
                        </div>
                    </div>

                    <button class="bought-trip">Buy : 100€</button>
                </div>
            </div>
        </div>
        
        <div class="section-flight">
            <div class="title">
                <h3>Cancelled flights</h3>
            </div>

            <div class="tickets-mode-container"> 
                <div class="ticket">
                    <div class="hour-trip">
                        <p class="date">7 décembre 2022</p>
                        <p class="hour">10:55 - 19:37</p>
                        
                        <div class="trip">
                            <img src="./trip.png" alt="trip" />
                            <div class="dest">
                                <p>Budapest (BUD)</p>
                                <p>Paris (CDG)</p>
                            </div>
                        </div>
                    </div>

                    <div class="info-flight-container">
                        <div class="available-seat">
                            <p>Available seat</p>
                            <p>125</p>
                        </div>

                        <div class="duration">
                            <p>Duration</p>
                            <p>2h45</p>
                        </div>

                        <div class="service-container">
                            <p>Service</p>
                            <div class="trip-service">
                                <img src="./plate.png" alt="Plate" />
                                <img src="./wifi.png" alt="Wifi" />
                            </div>
                        </div>
                    </div>

                    <button class="bought-trip">Buy : 100€</button>
                </div>
            </div>
        </div>
        
        <div class="section-flight">
            <div class="title">
                <h3>Past flights</h3>
            </div>
            
            <div class="tickets-mode-container">
                <div class="ticket">
                    <div class="hour-trip">
                        <p class="date">7 décembre 2022</p>
                        <p class="hour">10:55 - 19:37</p>
                        
                        <div class="trip">
                            <img src="./trip.png" alt="trip" />
                            <div class="dest">
                                <p>Budapest (BUD)</p>
                                <p>Paris (CDG)</p>
                            </div>
                        </div>
                    </div>

                    <div class="info-flight-container">
                        <div class="available-seat">
                            <p>Available seat</p>
                            <p>125</p>
                        </div>

                        <div class="duration">
                            <p>Duration</p>
                            <p>2h45</p>
                        </div>

                        <div class="service-container">
                            <p>Service</p>
                            <div class="trip-service">
                                <img src="./plate.png" alt="Plate" />
                                <img src="./wifi.png" alt="Wifi" />
                            </div>
                        </div>
                    </div>

                    <button class="bought-trip">Buy : 100€</button>
                </div>  
            </div>
        </div>
    </section>
</body>
</html>