<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Partials/Head") %>
    <link rel="stylesheet" href="/css/NotFound.css" />
</head>
<body>
    <%- include("Partials/header", { position: "fixed" }) %>
    <div class="not-found-main-container">
        <div class="info">
            <div class="glitch-bloc">
                <p class="invisible-text">404</p>
                <p class="glitchedAnim">404</p>
                <p class="glitchedAnim">404</p>
                <p class="glitchedAnim">404</p>
            </div>
            <p class="txt-info">Wopsy, this page doesn't exist ! 🛠️</p>
        </div>
    </div>
</body>
</html>