*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ticket-Bought, .ticket-Admin {
    background-color: #377FBC;
}

.ticket-Incoming {
    background-color: darkgreen;
}

.ticket-Cancelled {
    background-color: rgb(252, 134, 91);
}

.ticket-Past {
    background-color: #777;
}

.ticket {
    display: flex;
    flex-direction: row;
    color: white;
    position: relative;
    border: 2px solid #555;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 50px 10px 10px;
    align-items: center;
    gap: 25px;
}

.ticket .hour-trip img {
    width: 50px;
}

.hour-trip {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
}

.trip {
    display: flex;
    font-size: 15px;
}

.info-flight-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.dest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85px;
    font-size: 15px;
}

.available-seat, .duration, .service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.bought-trip {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    color: #163767;
    background-color: white;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, .8);
    z-index: 151515;
}

.modal-alert-content {
    padding: 50px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.close-alert-modal {
    width: 150px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #163767;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-alert {
    display: none;
}

.p-id-flight {
    position: absolute;
    top: 10px;
    right: 20px;
}