.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 50px 100px;
    background-color: #689fbc;
    border-radius: 25px;
}

form h2 {
    color: white;
    padding-bottom: 20px;
    font-weight: 600;
}

.login-space form > :last-child {
    color: white;
    text-decoration: underline;
    padding-top: 15px;
    font-size: 15px;
    cursor: pointer;
}

input::placeholder {
    color: black;
}

.login-container .choice-container h2 {
    font-weight: 500;
    font-size: 18px;
}

.choice-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.champ-form {
    cursor: pointer;
    margin-bottom: 1em;
    padding: 13px 15px;
    border: 1px solid #eee;
    background-color: #eee;
    display: flex;
    align-items: center;
    width: 300px;
}

.champ-form input {
    outline: none;
    background-color: #fff0;  
    border: none; 
    padding: 0px 10px 0px;
}

button {
    width: 150px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #163767;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.welcome-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1515151;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.welcome-modal > div {
    padding: 50px;
    position: relative;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.welcome-content button {
    margin-top: 20px;
}

.welcome-content h2 {
    font-variant-caps: petite-caps;
    font-size: 25px;
    letter-spacing: 2px;
}

.info-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    animation: apparition 1s ease-out forwards;
}

@keyframes apparition {
    to {
        transform: translateX(0);
    }
}