.profil {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 25px;
}

.profil img {
    width: 125px;
}

.profil * {
    font-size: 15px;
}

.profil span  {
    text-transform: uppercase;
}

.tickets-container, 
.section-flight .tickets-mode-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.tickets-container {
    gap: 45px;
}

.tickets-container h3 {
    padding: 10px;
    border-bottom: 2px solid #555;
}

.section-flight .tickets-mode-container {
    align-items: center;
    gap: 25px;
    padding-top: 25px;
}